.impressed{
    padding: 80px 0;
    color: $color-sect-imp;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/impressed.png);
    .wrapper{
        display: flex;
        margin: 0 -220px;
        justify-content: space-between;
        &-right{
            margin-top:-200px;
            height: 400px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/monitor.png);
        }
    }
    &-head{
        @extend %head-text;
        margin-bottom: 58px;
        color: $color-sect-imp;
        text-align: left;
    }
    &__main{
        &-text{
            @extend %main-text;
            margin-bottom: 34px;
            letter-spacing: 2px;
        }
        &-dop_name{
            @extend %dop-text;
            margin-bottom: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
        &-dop_dir{
            @extend %dop-text;
            text-transform: uppercase;
            span{
                color: $color-hov;
            }
        }
    }
}