.team{
    background: $bg-main;
    padding-top: 80px;
    padding-bottom: 0px;
    &-head{
        width: 100%;
        @extend %head-text;
    }
    &-text{
        @extend %head-pod-text;
        @extend %dop-text;
        padding-bottom: 64px;
        width: 45%;
    }
    &__slider{
        width: 100%;
        padding-bottom: 170px;
        &_item{
            display: flex!important;
            justify-content: space-between!important;
            height: 100%;
            &__left{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 412px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../img/team1.png);
                &-wrapper{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    transition: $transition;
                    background: rgba(255, 255, 255, 0);
                    opacity: 0;
                    &:hover{
                        background: rgba(255, 255, 255, 0.6);
                        opacity: 1;
                    }
                }
                &__ins{
                    display: flex;
                    &-svg{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        margin: 6px;
                        border-radius: 50%;
                        cursor: pointer;
                        background: #29253c;
                        transition: $transition;
                        &_ins{
                            width: 16px;
                            height: 16px;
                            color: #cac9cf;
                        }
                        &:hover{
                            .team__slider_item__left__ins-svg_ins{
                                &_1{
                                    color: red;
                                }
                                &_2{
                                    color: white;
                                }
                                &_3{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
            }
            &__right{
                &-head{
                    position: relative;
                    text-align: right;
                    letter-spacing: 1.6px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    &:before{
                        display: block;
                        position: absolute;
                        z-index: 3;
                        top: 6px;
                        right: -14px;
                        content: '';
                        width: 6px;
                        height: 44px;
                        background: $color-hov;
                    }
                }
                &-name{
                    @extend %h3;
                    text-align: right;
                    padding-bottom: 36px;
                    font-size: 16px;
                    color: $color-main-text;
                    text-transform: uppercase;
                    font-style: italic;
                }
                &-text{
                    @extend %dop-text;
                    text-align: right;
                    letter-spacing: 1.1px;
                    line-height: 2;
                    padding-bottom: 50px;
                }
                &__line{
                    padding-left: 36px;
                    padding-bottom: 36px;
                    &__top{
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 10px;
                        &-text{
                            @extend %head-text;
                            color: $color-main-text;
                            margin: 0;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                        &-perc{
                            @extend %head-text;
                            color: $color-main-text;
                            margin: 0;
                            font-weight: 500;
                        }
                    }
                    &__bot{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        &-left{
                            height: 6px;
                            background: $color-hov;
                            &_1{
                                width: 80%;
                            }
                            &_2{
                                width: 65%;
                            }
                            &_3{
                                width: 75%;
                            }
                            &_4{
                                width: 70%;
                            }
                            &_5{
                                width: 75%;
                            }
                            &_6{
                                width: 55%;
                            }
                            &_7{
                                width: 60%;
                            }
                            &_8{
                                width: 45%;
                            }
                            &_9{
                                width: 90%;
                            }
                        }
                        &-right{
                            height: 6px;
                            background: #e1e4e9;
                            &_1{
                                width: 20%;
                            }
                            &_2{
                                width: 35%;
                            }
                            &_3{
                                width: 25%;
                            }
                            &_4{
                                width: 30%;
                            }
                            &_5{
                                width: 25%;
                            }
                            &_6{
                                width: 45%;
                            }
                            &_7{
                                width: 40%;
                            }
                            &_8{
                                width: 55%;
                            }
                            &_9{
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }


    &__footer{
        .row{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        padding: 62px 0 58px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/team_footer.png);
        &-head{
            width: 100%;
            text-align: center;
            color: $color-text;
            letter-spacing: 2.2;
            margin-bottom: 36px;
            font-size: 22px;
        }
        &-btn{
            @include buttons($color-text, 8px, 32px);
            padding: auto!important;
            border-radius: 28px;
            &:hover{
                color: $color-text;
                border-color: $color-text;
                box-shadow: $box-shadow;
            }
        }
    }

    &__slider-wrapper{
    position: relative;
  }

  .slick {
    
    // радиокнопки
    &-dots{
      display: flex!important;
      justify-content: center;
      list-style-type: none;
      position: relative;
      bottom: -60px;
      font-size: 0;
      li{
        padding: 8px!important;
        button{
          width: 14px!important;
          height: 14px!important;
          border-radius: 50%;
          border: none;
          background: transparent;
          transition: $transition;
          border: 1px solid $color-hov;
          cursor: pointer;
          outline: none;
          &:hover{
            border: 1px solid gold;
          }
        }
      }
      .slick-active{
        button{
          background: $color-hov;
          &:hover{
            border: 1px solid $color-hov;
          }
        }
      }
    }
  }
}