@mixin buttons($color-btn-text, $p-h, $p-w) {
  background: transparent;
  color: $color-btn-text;
  font-size: $fz-text;
  border: 2px solid $color-btn-text;
  padding: $p-h $p-w;
  transition: $transition;
  cursor: pointer;
  outline: none;
  &:hover,
  &:focus {
    color: $color-hov;
    border-color: $color-hov;
  }
}

%navlinks{
  background: transparent;
  color: $color-text;
  font-size: $fz-text;
  border: 2px solid transparent;
  border-radius: 24px;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  transition: $transition;
  &:hover,
  &:focus {
    border-color: #fff;
  }
}

%h1{
  font-size: $fz-h1;
  text-align: center;
  color: $color-text;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}

%h2{
  font-size: $fz-h2;
  color: $color-text;
  font-family: 'Big John';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}

%h3{
  font-size: $fz-h3;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

%main-text{
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: $fz-text;
  margin: 0;
}

%dop-text{
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: $fz-dop;
  margin: 0;
}

%head-text{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: $color-h;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 42px;
}

%head-pod-text{
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;
  width: 45%;
  color: $color-main-text;
}